@{
  Layout = "_Layout";
}
<div style="text-align: center; margin-top: 5px;" class="jumbotron">
  <h1>Welcome to Dr. Sillystringz's machine repair portal</h1>
  <hr />
  <p>@Html.ActionLink("Engineer List", "Index", "Engineers")</p> 
  <p>@Html.ActionLink("Machine List", "Index", "Machines")</p>
</div>